<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>

<div class="center">
	  <form method="post" class="card" novalidate enctype="multipart/form-data">
	  	{% csrf_token %}
	    <h2 class="text-center">Войти</h2>
		{% for field in form %}
	    		{{ field.label_tag }}
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags }}</small>
	        	{% endif %}</br>
		{% endfor %}

		<input type="submit" value="Login" class="btn btn-primary full-width">
	</form>
</div>

</body>
</html>